---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Helpers
@import
  'helpers/variables',
  'helpers/mixins';

// Base
@import
  'base/reset';

// Utilities
@import
  'utilities/layout';

// Components
@import
  'components/header',
  'components/navigation',
  'components/article',
  'components/archives',
  'components/social',
  'components/buttons',
  'components/footer';

// Themes
@import
  'themes/blue',
  'themes/green',
  'themes/grey',
  'themes/orange',
  'themes/purple';

// Vendor
@import
  'vendor/syntax-highlighting';




.grid-container{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.two-column-container{
  display: grid;
  grid-template-columns: 30% 70%;
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.grid-item{
  text-align: center;
  font-size: 90%;
}

.two-column-item{
  text-align: justify;
  font-size: 90%;
}



.grid-item .minipic{ 
  max-width:  150px; 
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.two-column-item .minipic{ 
  max-width:  150px; 
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.stylized-text{
  display: flex;
  color: #1f1f1f;
  // font-family: Rockwell, Baskerville, "Baskerville Old Face";
  font-family: 'SwiftNeueLTW01', Georgia, serif;
  // font-family: "Times New Roman", Times, serif;
  font-size: 220%;
  font-style: italic;
  margin: auto;
  // text-align: center;
  text-align: left;
  flex-direction: column; 
  align-items: center;
  margin-right: 20px; 
  margin-top: 60px; 
  margin-bottom: 40px; 

  width: 100%; 

  // float: left; 
  // display: inline; 
  // border-right: 2px solid rgb(221, 221, 221); 
  padding: 0px 0px 15px 10px; 
  // font-weight: bold; 
  line-height: 0.9;

  // line-height: 23px;
}


table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.c-header__title {
font-size: 3.5rem;
}

.title-cell {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  
}

.logo-cell {
  width: 20%;
  padding: 0;
}

.u-container{
  display: flex;
  position:relative;

}




// -----------------------------------------------
// -----------------------------------------------
// -----------------------------------------------

