---
layout: default
---
<article class="c-article">
  <header class="c-header c-article__header">
    <div class="u-container">
      <div class="title-cell">
        <h1 class="c-header__title">5th Workshop on Visualization for the Digital Humanities</h1>
        <h3 class="c-header__subtitle"><small>Salt Lake City, Utah, USA</small></h3>
      </div>
      <div class ="logo-cell">
        <img src="/images/logo.png" alt="VIS4DH logo">
      </div>
    </div>
    <!-- <div class="u-container">
          <h1 class="c-header__title">{{ page.title }}</h1>
          <h3 class="c-header__subtitle">{% if page.subtitle %}<small>{{ page.subtitle }}</small>{% endif %}</h3>

      </div> -->
    
  
  </header>

  <div class="c-article__main" style="text-align: justify">
    {{ content }}
  </div>
</article>
